In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
def get_title_from_index(index):
    return df[df.index == index]["title"].values[0]
def get_index_from_title(title):
    return df[df.title == title]["index"].values[0]

In [4]:
df = pd.read_csv("movie_dataset.csv")
print(df.head())

   index     budget                                    genres  \
0      0  237000000  Action Adventure Fantasy Science Fiction
1      1  300000000                  Adventure Fantasy Action
2      2  245000000                    Action Adventure Crime
3      3  250000000               Action Crime Drama Thriller
4      4  260000000          Action Adventure Science Fiction

                                       homepage      id  \
0                   http://www.avatarmovie.com/   19995
1  http://disney.go.com/disneypictures/pirates/     285
2   http://www.sonypictures.com/movies/spectre/  206647
3            http://www.thedarkknightrises.com/   49026
4          http://movies.disney.com/john-carter   49529

                                            keywords original_language  \
0  culture clash future space war space colony so...                en
1  ocean drug abuse exotic island east india trad...                en
2         spy based on novel secret agent sequel mi6                en
3  dc comics crime fighter terrorist secret ident...                en
4  based on novel mars medallion space travel pri...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                            overview  popularity  ... runtime  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577  ...   162.0
1  Captain Barbossa, long believed to be dead, ha...  139.082615  ...   169.0
2  A cryptic message from Bondâ€™s past sends him o...  107.376788  ...   148.0
3  Following the death of District Attorney Harve...  112.312950  ...   165.0
4  John Carter is a war-weary, former military ca...   43.926995  ...   132.0

                                    spoken_languages    status  \
0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1           [{"iso_639_1": "en", "name": "English"}]  Released
2  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3           [{"iso_639_1": "en", "name": "English"}]  Released
4           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.

                                      title vote_average vote_count  \
0                                    Avatar          7.2      11800
1  Pirates of the Caribbean: At World's End          6.9       4500
2                                   Spectre          6.3       4466
3                     The Dark Knight Rises          7.6       9106
4                               John Carter          6.1       2124

                                                cast  \
0  Sam Worthington Zoe Saldana Sigourney Weaver S...
1  Johnny Depp Orlando Bloom Keira Knightley Stel...
2  Daniel Craig Christoph Waltz L\u00e9a Seydoux ...
3  Christian Bale Michael Caine Gary Oldman Anne ...
4  Taylor Kitsch Lynn Collins Samantha Morton Wil...

                                                crew           director
0  [{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...      James Cameron
1  [{'name': 'Dariusz Wolski', 'gender': 2, 'depa...     Gore Verbinski
2  [{'name': 'Thomas Newman', 'gender': 2, 'depar...         Sam Mendes
3  [{'name': 'Hans Zimmer', 'gender': 2, 'departm...  Christopher Nolan
4  [{'name': 'Andrew Stanton', 'gender': 2, 'depa...     Andrew Stanton

[5 rows x 24 columns]

In [5]:
df.describe()

,index,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4803.000000,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2401.000000,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,1386.651002,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,1200.500000,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,2401.000000,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,3601.500000,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,4802.000000,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [6]:
df.iloc[4802]

index                                                                4802
budget                                                                  0
genres                                                        Documentary
homepage                                                              NaN
id                                                                  25975
keywords                             obsession camcorder crush dream girl
original_language                                                      en
original_title                                          My Date with Drew
overview                Ever since the second grade when he first saw ...
popularity                                                        1.92988
production_companies    [{"name": "rusty bear entertainment", "id": 87...
production_countries    [{"iso_3166_1": "US", "name": "United States o...
release_date                                                   2005-08-05
revenue                                                                 0
runtime                                                                90
spoken_languages                 [{"iso_639_1": "en", "name": "English"}]
status                                                           Released
tagline                                                               NaN
title                                                   My Date with Drew
vote_average                                                          6.3
vote_count                                                             16
cast                    Drew Barrymore Brian Herzlinger Corey Feldman ...
crew                    [{'name': 'Clark Peterson', 'gender': 2, 'depa...
director                                                 Brian Herzlinger
Name: 4802, dtype: object

In [7]:
df.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [8]:
df.shape

(4803, 24)

In [9]:
features = ['keywords', 'cast', 'genres', 'director']
for i in features:
    df[i] = df[i].fillna('')

In [10]:
def combine_features(row):
    ans = ''
    for i in features:
        ans = ans + str(row[str(i)]) + " "
    return ans

In [11]:
df["combined_features"] = df.apply(combine_features, axis = 1)

In [12]:
df['combined_features'][71]

' Brendan Fraser Jet Li John Hannah Maria Bello Luke Ford Adventure Action Fantasy Rob Cohen '

In [13]:
cv = CountVectorizer()

In [14]:
count_matrix = cv.fit_transform(df['combined_features'])

In [15]:
cosine_sim = cosine_similarity(count_matrix)

In [16]:
def find_movies(movie):
    movie_index = get_index_from_title(movie)
    similar_movies = list(enumerate(cosine_sim[movie_index]))
    sorted_similar_movies = sorted(similar_movies, key = lambda x:x[1], reverse = True)
    for i in sorted_similar_movies[1:16]:
        print(get_title_from_index(i[0]))

In [22]:
find_movies("The Av")

Guardians of the Galaxy
Aliens
Star Wars: Clone Wars: Volume 1
Star Trek Into Darkness
Star Trek Beyond
Alien
Lockout
Jason X
The Helix... Loaded
Moonraker
Planet of the Apes
Galaxy Quest
Gravity
AlienÂ³
Jupiter Ascending